%head
	%title claire tuna // Fritzing parts for Kinoma Create
	%link{:rel => :stylesheet, :type => :"text/css", :href => "../assets/stylesheets/unsemantic-grid-responsive.css"}
	%link{:rel => :stylesheet, :type => :"text/css", :href => "../assets/stylesheets/index.css"}
	%link{:rel => :stylesheet, :type => :"text/css", :href => "http://fonts.googleapis.com/css?family=Roboto:400,100|Slabo+27px|Roboto+Slab:400,300,100' rel='stylesheet"}

	:plain
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-60218606-1', 'auto');
		  ga('send', 'pageview');

		</script>
%body

	%div.grid-container
		.grid-85.grid-parent
			
			%a{:href => "../index.html"}
				.banner.grid-100.mobile-grid-100
					%h1 claire tuna
					%h2 human centered design + rapid prototyping
			.line
			
			.grid-66
				.span.project-title
					project // 
					%span.project-name Fritzing parts for Kinoma Create
				%div.section
					.title.grid-33 occasion/context 

					.description.prefix-33 
						prototype engineering internship at Kinoma
				%div.section
					.title.grid-33 target user group 

					.description.prefix-33 Kinoma Create users/makers 
				%div.section
					.title.grid-33 problem

					.description.prefix-33 For the "getting started with hardware" samples, it was necessary to share wiring diagrams with new users. Through research into related frameworks (Arduino, Raspberry Pi), I found Fritzing-- a popular application for creating and sharing wiring diagrams. Fritzing comes loaded with graphics of many off-the-shelf components that can be wired together using direct manipulation. This approach is more scalable than tailoring custom graphics in a program such as Illustrator and allows users to produce wiring diagrams by downloading the Kinoma Create parts bin. 
				%div.section
					.title.grid-33 outcome 

					.description.prefix-33 I designed the Fritzing parts using Adobe Illustrator and Fritzing. 


				%img.project-photo{:src =>  "../assets/images/kinoma/option2.png"}
				.caption#last front image of a wiring diagram connecting an LED to the Kinoma Create in Fritzing

			
			


	%script{:src=> "../assets/javascripts/jquery-1.9.1.min.js"}
	%script{:src=>"../assets/javascripts/demo.js"}
	  